<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->


<div class="flex-container">

  <div *ngFor="let image of images, let i = index">
    <img [id]=i (click)="getExif(i)" [src]="image.src" width="300px" height="300px">
  </div>
  <div>
    <ng-container>
      <agm-map style="height: 300px" [latitude]="lat" [longitude]="lon">
        <agm-marker-cluster *ngFor="let marker of markers, let i = index" imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
          <agm-marker [id]=i (markerClick)="action(i)" [latitude]="marker.lat" [longitude]="marker.lon">
          </agm-marker>
        </agm-marker-cluster>
      </agm-map>
    </ng-container>
  </div>
</div>
